button {
  display: inline-block;

  color: #49b4bb;
  font-size: 13px;
  font-weight: normal;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

::ng-deep {
  fa-icon {
    margin-right: 10px;
  }
}
